#threejscontainer {
    width: 80vw;
    height: 80vh;
    /*aspect-ratio: 16/9;*/
    border: solid 2px black;
    margin-inline: auto;
}


.upload-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 3.8rem;
    font-size: 17px;
    color: #b8b8b8;
}

.button-wrap {
    position: relative;
}

.button {
    display: inline-block;
    background-color: #1d6355;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    width: fit-content;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    .button:hover {
        background-color: #00ab97;
    }
